# Dependencies
node_modules/
*/node_modules/
vendor/
*/vendor/

# Builds
dist/
build/
.next/

# Env
.env
.env.local
.env.backup

# OS
.DS_Store
Thumbs.db
dist/ 
*/dist/ 
.env 
*/.env 
*.log 
**/storage/framework/views/* 
**/bootstrap/cache/* 
**/storage/logs/* 
